<!DOCTYPE html>
<html>
  <head>
    <title>VoteApp_Backend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>I'm Backend</h1>
    <div class="container">
    <%= notice %>
    <%= yield %>
    </div>
  </body>
</html>
